.dxos-nav-link {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #000;
    transform: scale(0);
    transition: 0.3s ease-out;
  }
  &:hover {
    &:after {
      transform: scale(1);
    }
  }
}
