//
// Copyright 2020 DXOS.org
//

// Styles for https://kyleamathews.github.io/react-headroom/
// which shows and hides our top navigation
.headroom-wrapper {
  z-index: 99999;
  background: $white;
}

.headroom--unfixed,
.headroom--pinned {
  background: $white;
}

@media (min-width: 768px) {
  // we want to pull the header image under the nav bar on desktop
  // "81px" is the menu height as defined by bootstrap
  .headroom-wrapper.headroom-wrapper-over-content {
    margin-bottom: -81px;
  }

  // On desktop, we dont want to render a bg
  // behind the menu when it's at the top of the page
  .headroom-wrapper,
  .headroom--unfixed {
    background: transparent;
  }
}
